/* header{
    background-color: lightgrey;
}

footer{
    background-color: darkgray;
} */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

main {
  min-height: 100vh;
}

.parallax-section {
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 {
  background-image: url("../images/home/cabaneros-national-park-6724690_640.jpg");
}
