@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

main {
  min-height: 100vh;
}

.parallax-section {
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 {
  background-image: url("../images/home/river-5900547_640.jpg");
}

#section2 {
  background-image: url("../images/home/cabaneros-national-park-6724690_640.jpg");
}

a {
  --bs-link-color-rgb: 0, 122, 255 ;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #007aff;
}
